h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-color);
}

main {
    width: 1600px;
    display: inline;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
    
}