:root {
    --primery-text-color: #757575;
    --accent-text-color: #2196F3;
    --title-text-color: #212121;
    --fast-time-animation: 1000ms ;
   --standart-tablet: screen and (min-width: 767px);
   --standart-desktop: screen and (min-width: 1600px);

}
